---
import DocumentPageLayout from '../../layouts/DocumentPageLayout.astro';

const title = '準備中';
const description = 'このページは現在準備中です。公開までしばらくお待ちください。';
---
<DocumentPageLayout
  title={title}
  description={description}
  canonicalPath="/comming-soon/"
  eyebrow="Coming soon"
  bodyProse
>
  <p>コンテンツを準備しています。もうしばらくお待ちください。</p>
</DocumentPageLayout>
